/* import google font family  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins&family=Roboto:wght@300&display=swap');



/* reset */
* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav>ul>li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    cursor: pointer;
}

body {
    background-color: var(--clr-pry);
    color: var(--clr-sec);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* root variable declarations */
:root {
    /* colors  */
    --clr-pry: #e0e8ea;
    --clr-pry-light: #fcfcfc;
    --clr-sec: #333;
    --clr-accent-light: #0099cc;
    --clr-accent-transparent: rgba(0, 153, 204,0.3);
    --clr-accent-dark: rgb(0, 51, 102);
    --clr-gradient: linear-gradient(180deg, rgba(38, 100, 162, 0.7) 0%, rgba(0, 153, 204, 0.8) 100%);
    /* typography sizing  */
    --text-2xs: clamp(0.5rem, 0.4vw, 0.6rem);
    --text-xs: clamp(0.75rem, 1vw, 1rem);
    --text-sm: clamp(1rem, 2vw, 1.2rem);
    --text-md: clamp(1.5rem, 3vw, 2rem);
    --text-lg: clamp(2rem, 4vw, 2.5rem);
    --text-xl: clamp(2.4rem, 4.5vw, 3rem);
    --text-2xl: clamp(2.8rem, 5vw, 3.5rem);
    /* box-shadows  */
    --shadow-hover: 0px 14px 19px -6px rgba(0, 0, 0, 0.24)
}

/* typography */
h1,
.main_title {
    font-size: var(--text-2xl);
}

h2 {
    font-size: var(--text-md);
}

h3 {
    font-size: var(--text-lg);
}

h4 {
    font-size: var(--text-lg);
}

p,
span {
    font-size: var(--text-sm);
}

.section_title {
    font-size: var(--text-lg);
    text-align: center;
    color: var(--clr-accent-light);
}

.section_text {
    font-size: var(--text-sm);
    text-align: center;

}

.card_title {
    font-size: var(--text-sm);
}

.card_text {
    font-size: var(--text-xs);
}

/* boxes, containers & sections*/
.container {
    width: 85%;
    min-width: 300px;
    max-width: 1124px;
    margin: 0 auto;
}

.section_spacing {
    /* to space sections */
    padding: 6rem 0;
}

/* general classifications classes */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.row {
    flex-direction: column;
}

.column {
    flex-direction: row;
}
.absolute{
    position:absolute;
}
.relative{
    position:relative;
}
.center{
    justify-content: center;
    align-items:center;
}

/* header and nav  */
header {
    width: 100vw;
    margin-top: 0.2rem;
}

.header {
    justify-content: space-between;
}

/* brand logo and text  */
.brand {
    align-items: center;
    gap: 5px;
}

.brand span {
    /* bytesized logo text */
    color: var(--clr-accent-light);
    font-size: 1.3rem;
}

.brand h1 {
    text-transform: uppercase;
    font-size: var(--text-xs);
    letter-spacing: 2px;
}

.nav_items {
    gap: 0.3rem;
    align-items: center;
}

.nav_item {
    padding: 1rem 1.5rem;
    transition: ease 0.4s;
}

.nav_item:hover {
    color: var(--clr-accent-light);
}

.hamburger_icon {
    display: none;
}

/* current page highlight */
[aria-current='page'] {
    color: var(--clr-accent-light);
    border-top: 2px solid var(--clr-accent-light);

}

/* hero section  */
.hero {
    background-image: url(/assets/images/man-hand-holding-virtual-world-with-internet-connection-metaverse-global-business-marketing-banking-financial-pass-thru-application-technology-concept.jpg);
    background-size: cover;
    background-position: 0 20%;
    color: var(--clr-accent-dark);
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--clr-accent-light);
    position: relative;
}

.hero2 {
    height: 30vh;
}

.main_text {
    position: absolute;
    justify-content: center;
    align-items: center;
    color: var(--clr-pry-light)
}

/* hero bg overlay  */
.bg_overlay {
    position: absolute;
    background: var(--clr-gradient);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
}

/* who are we section  */
.services_cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
    margin: 3rem 0;
    padding: 2rem;
}

/* why choose us section  */
.offer{
    padding: 0 !important;
    background-color: var(--clr-accent-transparent) !important;
}
.offer img{
    width:100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}


/* case studies section  */
.case_studies {
    overflow-x: hidden;
}

/* cards */
.card {
    background-color: var(--clr-pry-light);
    padding: 3rem;
    border-radius:5px;
    overflow:hidden;
}
.card:hover{
    scale: 101%;
    box-shadow: var(--shadow-hover);
}

.card_image {
    background-color: var(--clr-accent-dark);
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.case_carousel {
    margin: 6rem 0;
    border-radius: 10px;
    overflow: hidden;
    gap: 4px;
}

.case_card {
    display: flex;
    background-color: var(--clr-pry-light);
}

.card_article {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* contact section  */
.form {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 4rem;
}

.side_form {
    background-color: var(--clr-accent-light);
    padding: 3rem;
}

form {
    padding: 2rem;
    background-color: var(--clr-pry-light);
}

/* who we are section  */
.about {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* form input field */
.form_field {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.form_field label {
    font-size: var(--text-2xs);
    text-transform: uppercase;
    color: var(--clr-accent-light);
}

input {
    background: var(--clr-pry);
    border: none;
    border-bottom: 2px solid var(--clr-accent-light);
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.5rem;
}

input:hover,
input:active {
    background-color: var(--clr-pry-light);
}

#message {
    height: 12rem;
    margin-bottom: 1.5rem;
    ;
}

/* buttons */
.btn {
    text-transform: uppercase;
    transition: ease 0.4s;
}

.btn_pry {
    font-size: 12px;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    border: 1px solid var(--clr-accent-light);
    color: var(--clr-accent-light);
}

.btn_pry:hover {
    background-color: var(--clr-accent-light);
    color: var(--clr-pry-light);
    box-shadow: var(--shadow-hover);
    scale: 103%;
}

.btn_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-sec);
    gap: 0.5rem;
    text-transform: capitalize;
    border-bottom: 1px solid var(--clr-accent-light);

}

.btn_sec:hover {
    gap: 0.9rem;
    border-bottom: 2px solid var(--clr-accent-light);
    background-color: var(--clr-accent-transparent);

}
.card_btn{
    font-size: var(--text-xs);

}
.card:hover .card_btn{
    background-color: var(--clr-accent-transparent);
    gap: 0.9rem;
    border-bottom: 2px solid var(--clr-accent-light);
}

.cta {
    border: 1px solid var(--clr-pry-light);
    color: var(--clr-pry-light);
    margin-top: 3rem;
}

.cta:hover {
    border: none;
    scale: 103%;
}

/* get in touch banner */
.cta_banner {
    background-color: var(--clr-accent-light);
    background-image: url(/assets/images/wave.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem 20%;
    color: var(--clr-pry-light);
}
.cta_banner .section_title{
    color:var(--clr-pry-light);
}

/* footer  */
footer {
    padding: 2rem 0;
    gap: 3rem;
    align-items: center;
    text-align: center;
    background-color: var(--clr-accent-light);
    color: var(--clr-pry-light);
}

/* footer nav  */
footer .brand {
    align-items: center;
    gap: 5px;
}

footer .brand span {
    /* bytesized logo text */
    color: var(--clr-pry-light);
    font-size: 1.3rem;
}

footer .brand h1 {
    text-transform: uppercase;
    font-size: var(--text-xs);
    letter-spacing: 2px;
}

.footer_nav{
    gap:3rem;
}

.footer_nav .nav_items{
    font-size: var(--text-xs);
    font-weight: 200;

}
.footer_nav_items_title{
    text-transform:uppercase;
}

/* media queries */
@media (max-width:600px) {
    .nav_items {
        flex-direction: column;
        gap: 2rem;
        display: none;
    }

    /* change flex direction for mobile menu  */
    .header {
        flex-direction: column;
        align-items: center;
    }

    /* mobile menu icon  */
    .hamburger_icon {
        display: block;
        position: absolute;
        top: 34px;
        right: 34px;
        font-size: 1.2rem;
    }

    /* toggle mobile menu  */
    #toggle:checked~ul {
        display: flex;
    }

    .case_card {
        /* change direction flow of case card  */
        flex-direction: column;
    }

    .card_image {
        width: 100%;
        height: 200px;
    }

    .form {
        grid-template-columns: 1fr;
    }
}