/* reset */
*{
    margin:0;
    padding:0;
    font-size:inherit;
}

a{
    text-decoration: none;
}

button{
    all:unset;
    cursor: pointer;
}

/* root variable declarations */
:root{
    --clr-pry: #ccc;
    --clr-sec:#333;
    --clr-accent-light: #0099cc;
    --clr-accent-dark: #003366;

}